:root{
	--no-colour: rgba(255, 255, 255, 0);

	--white: rgba(255, 255, 255);
	--transparent-white: rgba(255, 255, 255, 0.6);

	--blue: rgba(0,0,255);
	--dark-blue: rgba(25,25,112);

	--light-green: rgba(76,175,80);
	--forest-green: rgb(34,139,34);
	--dark-green: rgba(0,100,0);

	--red: rgba(255,0,0);
	--dark-red: rgba(139,0,0);

	--orange: rgba(255,165,0);
	--dark-orange: rgba(255,140,0);

	--yellow: rgba(255,255,0);

	--black: rgba(0,0,0);
	--transparent-black: rgba(0,0,0,0.8);
	--dark-gray: rgba(128,128,128);
}

body {
	background-image: url("../img/home/gorilla.jpg");
	/*just one occurence of the image*/
	/*background-repeat:no-repeat;*/
	/*fitting image to browser size*/
	background-size:cover;
}

input[type="text"] {
    font-size:17px;
    text-align: center;
}

div {
	text-align:center;
	background-color: var(--transparent-white);
	width: 800px;
	margin: 0 auto;
}

div.title {
	font-family: arial;
	font-size:60px;
	font-style:extra-bold;
	font-variant:small-caps;
	font-weight:bolder;
	text-decoration:italic;
	color: var(--light-green);
}


div.subtitle {
	font-family: arial;
	font-size:30px;
	font-style:bold;
	font-variant:small-caps;
	font-weight:bolder;
	text-decoration:italic;
	color:green
}

div.form_paragraph {
}

div.login_buttons_paragraph {
	text-align: right;
	background-color: var(--transparent);
}

button {
  border: outset;
	border-radius: 8px;
  border-color: var(--dark-gray);
  color: white; /*text color*/
  padding: 16px 0px; /*top&bottom - left&right*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover{
	cursor:pointer;
}

button.users {
	background-color: var(--dark-green);
 	width: 150px;
}

button.menu {
	background-color: var(--dark-red);
	width: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

td {
	width:250px;
	text-align: center;
	padding: 8px;
}

p {
	font-family: arial;
	font-size:25px;
	font-style:bold;
	text-decoration:italic;
	color: var(--black);
	display: inline
}
