:root{
	--no-colour: rgba(255, 255, 255, 0);

	--white: rgba(255, 255, 255);
	--transparent-white: rgba(255, 255, 255, 0.6);

	--blue: rgba(0,0,255);
	--dark-blue: rgba(25,25,112);

	--light-green: rgba(76,175,80);
	--forest-green: rgb(34,139,34);
	--dark-green: rgba(0,100,0);

	--red: rgba(255,0,0);
	--dark-red: rgba(139,0,0);
	--dark-red-transparent: rgba(139,0,0,0.75);

	--orange: rgba(255,165,0);
	--medium-orange: rgba(255,140,0);
	--dark-orange: rgba(255,76,0);

	--yellow: rgba(255,255,0);

	--brown: rgba(139,69,19);
	--red-brown: rgba(165,42,42);
	--dark-brown: rgba(63,37,11);
	--maroon: rgba(128,0,0);

	--black: rgba(0,0,0);
	--transparent-black: rgba(0,0,0,0.8);
	--dark-gray: rgba(128,128,128);
}



@font-face {
    font-family: 'LemonMilk'; /*a name to be used later*/
    src: url('../img/font/LemonMilk.otf'); /*URL to font*/
}

body {
	background: url("../img/home/background-1.jpg") center center fixed;
	background-size: cover;
	/*just one occurence of the image*/
	/*background-repeat:no-repeat;*/
}

div {
	text-align:center;
	background-color: var(--transparent-white);
	width: auto;
	margin: 0 auto;
}

button {
  border: outset;
  border-radius: 8px;
  border-color: var(--dark-gray);
  color: white; /*text color*/
  padding: 16px 0px; /*top&bottom - left&right*/
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover{
	cursor:pointer;
}

button.users {
	background-color: var(--dark-green);
 	width: 150px;
}

/*button.menu {*/
/*	background-color: var(--dark-red);*/
/*	width: 200px;*/
/*}*/

button.scommetti {
	background-color: var(--dark-green);
	width: 150px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
}

button.small_button {
	background-color: var(--dark-red);
	width: 80px;
	height: 40px;
	text-align: center;
	padding-top: 5px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){
	background-color: #FAEBD7;
}
tr.back {
	background-color: #DEB887; 
}
th {
	background-color: teal;
}

td {
	width:250px;
	text-align: center;
	padding: 8px;
}

p {
	font-family: arial;
	font-size:20px;
	color: var(--transparent-black);
	display: inline;
}
p.bet_font {
	font-family: 'LemonMilk';
}
p.report_font {
	font-weight: bold;
	font-size: 25px;
}
p.header_font_quote {
	color: white;
	font-size:25px;
}
