div {
	width: auto;
	height: auto;
	background-color: var(--no-colour);
}
div[id=header_div] {
	background-color: var(--transparent-white);
}
div.background {
	width:1360px;
	height:600px;
	background-color: teal;
	position: relative;
}

div[id=battle_field] {
	width: 1260px;
	height: 500px;
	border-radius:25px;
	border: 5px solid silver;
	background: url(../img/galli/ring-fieno_1.png);
	background-size:100% 100%;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin: auto auto;
}

div.gallo {
	width: 250px;
	height: 300px;
	position: absolute;
	background-color: var(--no-color);
}
div.gallo[id=gallo_red] {
	content: url(../img/galli/gallo_red.png);
	top: 175px;
	left: 75px;
}
div.gallo[id=gallo_blue] {
	content: url(../img/galli/gallo_blue.png);
	top: 175px;
	right: 75px;
}

div.ko {
	content: url(../img/galli/ko.png);
	position: absolute;
	width: 4px; /*250px;*/
	height: 5px; /*200px;*/
	top: 325px;
}
div.ko[id=ko_red] {
	filter:
		drop-shadow(2px 0 0 var(--red))
		drop-shadow(-2px 0 0 var(--red))
		drop-shadow(0 2px 0 var(--red))
		drop-shadow(0 -2px 0 var(--red));
	left: 250px;
}
div.ko[id=ko_blue] {
	filter:
		drop-shadow(2px 0 0 var(--blue))
		drop-shadow(-2px 0 0 var(--blue))
		drop-shadow(0 2px 0 var(--blue))
		drop-shadow(0 -2px 0 var(--blue));
	right: 250px;
}

div.winner {
	content: url(../img/galli/coriandoli_from_bottom.gif);
	position: absolute;
	width: 32%;
	height: 88%;
	bottom: 75px;
}
div.winner[id=winner_red] {
	left: 25px;
}
div.winner[id=winner_blue] {
	right: 25px;
}

div.fight {
	width: 400px;
	height: 400px;
	position: absolute;
	background-color: var(--no-color);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

button.quota_gallo_button {
	background-color: var(--dark-red); /* Green */
	width: 100px;
	border: none;
	padding: 10px 32px;
	font-size: 16px;
}

div.gallo_hp_bar_container {
	background-color: var(--no-colour);
	border-style: solid;
	width:300px;
	height: 18px;
	position: relative;
}
div.gallo_hp_percentage {
	background-color: var(--no-colour);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 1;
}
div.gallo_hp_bar {
	width: 100%;
	height: 100%;
	background-color: var(--forest-green);
	position: absolute;
	top: 0px;
	left: 0px;
}

p.title {
	font-size:40px;
	font-style:extra-bold;
	font-variant:small-caps;
	font-weight:bolder;
	color: var(--dark-green);
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}
