div {
	width: auto;
	height: auto;
	background-color: var(--no-colour);
}
div[id=header_div],[id=quote] {
	background-color: var(--transparent-white);
}
div.background {
	background-color: var(--dark-red);
	width:100%;
	height:500px;
	position:relative;
}
div [id=main_div_galli] {
	background-color: #DEB887;
	border-radius: 30px;
	border: 8px;
	border-style: solid;
	border-color: var(--dark-red);
}
div [id=galli_report] {
	background-color: #FAEBD7;
	height: 50px;
	line-height: 50px;	
}

div[id=battle_field] {
	width: 1300px;
	height: 450px;
	border-radius:25px;
	border: 5px solid var(--dark-orange);
	background: url(../img/galli/ring-fieno.png);
	background-size:100% 100%;
	position: absolute;
	right:0;
	left:0;
	margin: 18 auto;
}

div.gallo {
	width: 250px;
	height: 300px;
	position: absolute;
	background-color: var(--no-color);
}
div.gallo[id=gallo_red] {
	content: url(../img/galli/gallo_red.png);
	top: 140px;
	left: 75px;
}
div.gallo[id=gallo_blue] {
	content: url(../img/galli/gallo_blue.png);
	top: 140px;
	right: 75px;
}

div.ko {
	content: url(../img/galli/ko.png);
	position: absolute;
	width: 4px; /*250px;*/
	height: 5px; /*200px;*/
	top: 300px;
}
div.ko[id=ko_red] {
	filter:
		drop-shadow(2px 0 0 var(--red))
		drop-shadow(-2px 0 0 var(--red))
		drop-shadow(0 2px 0 var(--red))
		drop-shadow(0 -2px 0 var(--red));
	left: 250px;
}
div.ko[id=ko_blue] {
	filter:
		drop-shadow(2px 0 0 var(--blue))
		drop-shadow(-2px 0 0 var(--blue))
		drop-shadow(0 2px 0 var(--blue))
		drop-shadow(0 -2px 0 var(--blue));
	right: 250px;
}

div.winner {
	content: url(../img/galli/coriandoli_from_bottom.gif);
	position: absolute;
	width: 35%;
	height: 100%;
	bottom: 0px;
}
div.winner[id=winner_red] {
	left: 0px;
}
div.winner[id=winner_blue] {
	right: 0px;
}

div.fight {
	width: 400px;
	height: 400px;
	position: absolute;
	background-color: var(--no-color);
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
div.gallo_hp_name {
	display:inline-block;
}
div.gallo_hp_bar_container {
	background-color: var(--dark-brown);
	top:2px;
	border-style: ridge;
  border-width: 2px;
	border-color: var(--dark-brown);
	border-radius: 8px;
	width:300px;
	height: 20px;
	position: relative;
	display:inline-block;
}
div.gallo_hp_percentage {
	background-color: var(--no-colour);
	position: absolute;
	right: 0;
	bottom: 3;
	left: 0;
	margin: auto;
	z-index: 1;
	font-size: 30px;
	color: var(--light-brown);
	text-shadow: 
		2px		0  	0	var(--dark-brown), 
	 -2px		0 	0	var(--dark-brown), 
		0			2px 0	var(--dark-brown), 
		0		 -2px 0	var(--dark-brown),
		1px		1px 0	var(--dark-brown),
	 -1px	 -1px 0	var(--dark-brown),
		1px	 -1px 0	var(--dark-brown),
	 -1px		1px 0	var(--dark-brown);
	font-weight:bold;
}
div.gallo_hp_bar {
	width: 100%;
	height: 100%;
	background-color: var(--forest-green);
	border-radius: 6px;
	position: absolute;
	top: 0px;
	left: 0px;
}
div[id=galli_bottom_area] {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
div [id=quote]{
	background-color: var(--no-colour);
}
div[id=galli_regolamento], [id=infoGallo] {
	background-color: #FAEBD7;
	border-radius: 20px;
 	overflow: hidden;
}
table {
	width:100%;
}
table.quote {
	border-radius: 20px;
 	overflow: hidden;
 	background-color: var(--dark-red);
}
table.quote th{
 	background-color: var(--dark-red);
}
table.quote tr:nth-child(even), table.regolamento tr:nth-child(even), table.infoGallo tr:nth-child(even){
	background-color: 	#FFFAF0;
}
table.quote tr:nth-child(odd){
	background-color: 	#FAEBD7;
}
tr.back {
	background-color: 	#DEB887;
}
td.bottom_area_data {
	width:50%;
	height:370px;
}
td.gallo_hp {
	width:40%;
	background: url(../img/galli/asse_legno_lunga.png);
	background-size:100% 100%;
}
td.timer {
	width:20%;
	background: url(../img/galli/asse_legno_corta.png);
	background-size:100% 100%;
}
td.info_key {
	font-weight:bolder;
	width:180px;
}
td.info_value {
	width:320px;
}

button.quota_gallo_button {
  background-color: #FFFAF0;
  border: solid;
  border-radius: 4px;
  border-color: teal;
  color: 	teal;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button.quota_gallo_button_selected {
  background-color: teal;
  border: solid;
  border-radius: 4px;
  border-color: teal;
  color:  white; 
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p.title {
	font-size:50px;
	font-style:extra-bold;
	font-variant:small-caps;
	font-weight:bolder;
	color: var(--dark-red);
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}
p.subtitle {
	font-size:30px;
	font-weight:bolder;
	color: var(--dark-red);
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}
p.text_on_wood {
	color: var(--light-brown);
	text-shadow: 
		3px		0  	0	var(--dark-brown), 
	 -3px		0 	0	var(--dark-brown), 
		0			3px 0	var(--dark-brown), 
		0		 -3px 0	var(--dark-brown),
		2px		2px 0	var(--dark-brown),
	 -2px	 -2px 0	var(--dark-brown),
		2px	 -2px 0	var(--dark-brown),
	 -2px		2px 0	var(--dark-brown);
}
p.text_on_wood[id=round_number], [id=round_number]{

}
p.text_on_wood[id=gallo_red_HP_header]{
	color: var(--red);
	font-weight:bolder;
	text-shadow: 
		2px		0  	0	var(--beige-brown), 
	 -2px		0 	0	var(--beige-brown),
		0			2px 0	var(--beige-brown),
		0		 -2px 0	var(--beige-brown),
		1px		1px 0	var(--beige-brown),
	 -1px	 -1px 0	var(--beige-brown),
		1px	 -1px 0	var(--beige-brown),
	 -1px		1px 0	var(--beige-brown);
}
p.text_on_wood[id=gallo_blue_HP_header]{
	color: var(--blue);
	font-weight:bolder;
	text-shadow: 
		2px		0  	0	var(--beige-brown), 
	 -2px		0 	0	var(--beige-brown),
		0			2px 0	var(--beige-brown),
		0		 -2px 0	var(--beige-brown),
		1px		1px 0	var(--beige-brown),
	 -1px	 -1px 0	var(--beige-brown),
		1px	 -1px 0	var(--beige-brown),
	 -1px		1px 0	var(--beige-brown);
}
p.quota_gallo_nome, p.scommessa_gallo_nome {
	font-weight:bolder;
	font-size: 25px;
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}
p.quota_gallo_nome[id=gallo_red_quota_nome], p.scommessa_gallo_nome[id=gallo_red_scommessa_nome] {
	color: var(--red);
}
p.quota_gallo_nome[id=gallo_blue_quota_nome], p.scommessa_gallo_nome[id=gallo_blue_scommessa_nome] {
	color: var(--blue);
}
