div {
	width: auto;
	height: auto;
	background-color: var(--no-colour);
}
div[id=header_div],[id=infoCavallo],[id=classifica] {
	background-color: #FAEBD7;
}
div [id=classifica],[id=infoCavallo] {
	border-radius: 20px;
}

div [id=cavalli_bottom_area]{ 
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}

div[id=container] {
	width: 1300px;
	height: 450px;
	font-size: 19px;
	position: relative;
	/*background: url(../img/cavalli/mary_poppins_opacity75.jpg);*/
	background: url(../img/cavalli/pista_definitiva.jpg);
	border-radius: 25px;
	border: 5px solid silver; 
	background-size:100% 530px;
}

div [id=main_div_cavalli] {
	background-color: #DEB887;
	border-radius: 30px;
	border: 8px;
	border-style: solid;
	border-color: teal;
}
div [id=cavalli_report] {
	background-color: #FAEBD7;
	height: 50px;
	line-height: 50px;	
}

div.back {
	background-color: teal;
}

div.horse {
	width: 100px;
	height: 100px;
	position: absolute;
	content: url(../img/cavalli/cavallo-fermo.png);
	background-color: var(--no-color);
	cursor: pointer;
}

.button {
    background-color: #FFFAF0;
    border: solid;
    border-radius: 4px;
    border-color: teal;
    color: 	teal;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonselected {
    background-color: teal;
    border: solid;
    border-radius: 4px;
    border-color: teal;
    color:  white; 
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
table {
	width:100%;
}
table.quote{
	border-radius: 1em;
	border:2px solid green;
 	overflow: hidden;
 	background-color: silver;
}

table.quote tr:nth-child(even), table.infoCavallo tr:nth-child(even){
	background-color: 	#FFFAF0;
}

tr.back {
	background-color: 	#DEB887;
}

td.classifica {
	width: 30%;	
	height: 380px;	
}

td.quote {
	width: 70%;
	height: 380px;
}

td.info_key {
	font-weight:bolder;
	width:180px;
}
td.info_value {
	width:320px;
}
td.pos {
	width:50px;
}
td.horse {
	width:300px;
}
td.time{
	width:150px;
}

#animate_red {
	filter:
		drop-shadow(2px 0 0 var(--red))
		drop-shadow(-2px 0 0 var(--red))
		drop-shadow(0 2px 0 var(--red))
		drop-shadow(0 -2px 0 var(--red));
}
#animate_blue {
	filter:
		drop-shadow(2px 0 0 var(--blue))
		drop-shadow(-2px 0 0 var(--blue))
		drop-shadow(0 2px 0 var(--blue))
		drop-shadow(0 -2px 0 var(--blue));
}
#animate_green {
	filter:
		drop-shadow(2px 0 0 var(--forest-green))
		drop-shadow(-2px 0 0 var(--forest-green))
		drop-shadow(0 2px 0 var(--forest-green))
		drop-shadow(0 -2px 0 var(--forest-green));
}
#animate_yellow {
	filter:
		drop-shadow(2px 0 0 var(--yellow))
		drop-shadow(-2px 0 0 var(--yellow))
		drop-shadow(0 2px 0 var(--yellow))
		drop-shadow(0 -2px 0 var(--yellow));
}
#animate_white {
	filter:
		drop-shadow(2px 0 0 var(--white))
		drop-shadow(-2px 0 0 var(--white))
		drop-shadow(0 2px 0 var(--white))
		drop-shadow(0 -2px 0 var(--white));
}

/* CLASSIFICA */
div[id=infoCavallo] {
	width: 500px;
}
div[id=classifica] {
	width: 500px;
}
div[id=timerEndGame] {
	width: 500px;
}

/*moved in main_style.css*/
/*p {*/
/*	font-family: arial;*/
/*	font-size:25px;*/
/*	font-style:bold;*/
/*	text-decoration:italic;*/
/*	color: var(--black);*/
/*	display: inline*/
/*}*/

p.startTimer {
	font-size:250px;
}

p.title {
	font-size:50px;
	font-weight:bolder;
	font-variant:small-caps;
	font-weight:bolder;
	color: teal;
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}
p.subtitle {
	font-size:30px;
	font-weight:bolder;
	color: teal;
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}

p.horse, p.quota_cavallo_nome, p.scommessa_cavallo_nome {
	font-weight:bolder;
	font-size: 25px;
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}

p.horse[id=red], p.quota_cavallo_nome[id=quota_nome_red], p.scommessa_cavallo_nome[id=cavallo_red_scommessa_nome] {
	color: var(--red);
}
p.horse[id=blue], p.quota_cavallo_nome[id=quota_nome_blue], p.scommessa_cavallo_nome[id=cavallo_blue_scommessa_nome] {
	color: var(--blue);
}
p.horse[id=green], p.quota_cavallo_nome[id=quota_nome_green], p.scommessa_cavallo_nome[id=cavallo_green_scommessa_nome] {
	color: var(--forest-green);
}
p.horse[id=yellow], p.quota_cavallo_nome[id=quota_nome_yellow], p.scommessa_cavallo_nome[id=cavallo_yellow_scommessa_nome] {
	color: var(--yellow);
}
p.horse[id=white], p.quota_cavallo_nome[id=quota_nome_white], p.scommessa_cavallo_nome[id=cavallo_white_scommessa_nome] {
	color: var(--white);
}
