div {
	width: auto;
	height: auto;
}

#container {
	width: 800px;
	height: 450px;
	position: relative;
	/*background: url(../img/cavalli/mary_poppins_opacity75.jpg);*/
	background: url(../img/cavalli/pista_cavalli_lunga.jpg);
	background-size:100% 530px;
}

div.horse {
	width: 100px;
	height: 100px;
	position: absolute;
	content: url(../img/cavalli/cavallo-fermo.png);
	background-color: var(--no-color);
}

.button {
    background-color: #555555; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


#animate1 {
	filter:
		drop-shadow(2px 0 0 var(--red))
		drop-shadow(-2px 0 0 var(--red))
		drop-shadow(0 2px 0 var(--red))
		drop-shadow(0 -2px 0 var(--red));
}
#animate2 {
	filter:
		drop-shadow(2px 0 0 var(--blue))
		drop-shadow(-2px 0 0 var(--blue))
		drop-shadow(0 2px 0 var(--blue))
		drop-shadow(0 -2px 0 var(--blue));
}
#animate3 {
	filter:
		drop-shadow(2px 0 0 var(--forest-green))
		drop-shadow(-2px 0 0 var(--forest-green))
		drop-shadow(0 2px 0 var(--forest-green))
		drop-shadow(0 -2px 0 var(--forest-green));
}
#animate4 {
	filter:
		drop-shadow(2px 0 0 var(--yellow))
		drop-shadow(-2px 0 0 var(--yellow))
		drop-shadow(0 2px 0 var(--yellow))
		drop-shadow(0 -2px 0 var(--yellow));
}
#animate5 {
	filter:
		drop-shadow(2px 0 0 var(--white))
		drop-shadow(-2px 0 0 var(--white))
		drop-shadow(0 2px 0 var(--white))
		drop-shadow(0 -2px 0 var(--white)); var(--white);
}

/* CLASSIFICA */

p.title {
	font-family: arial;
	font-size:30px;
	font-style:extra-bold;
	font-variant:small-caps;
	font-weight:bolder;
	text-decoration:italic;
	color: var(--dark-green);
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}

p.horse {
	font-family: arial;
	font-size:25px;
	font-style:extra-bold;
	text-decoration:italic;
	display: inline;
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}

p.time {
	font-family: arial;
	font-size:25px;
	font-style:bold;
	text-decoration:italic;
	color: var(--black);
	display: inline
}

p.horse[id=red] {
	color: var(--red);
}
p.horse[id=blu] {
	color: var(--blue);
	
}
p.horse[id=green] {
	color: var(--forest-green);
}
p.horse[id=yellow] {
	color: var(--yellow);
}
p.horse[id=white] {
	color: var(--white);

}
