div {
	width: auto;
	height: auto;
}

div[id=container] {
	width: 1000px;
	height: 450px;
	font-size: 19px;
	position: relative;
	/*background: url(../img/cavalli/mary_poppins_opacity75.jpg);*/
	background: url(../img/cavalli/pista_traguardo_lunga.jpg);
	background-size:100% 530px;
}

div.horse {
	width: 100px;
	height: 100px;
	position: absolute;
	content: url(../img/cavalli/cavallo-fermo.png);
	background-color: var(--no-color);
}

.button {
    background-color: #555555; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
	width:250px;
  text-align: center;
  padding: 8px;
}
td.info_key {
	width:180px;
}
td.info_value {
	width:320px;
}
td.pos {
	width:50px;
}
td.horse {
	width:300px;
}
td.time{
	width:150px;
}

tr:nth-child(even){background-color: #f2f2f2}


#animate_red {
	filter:
		drop-shadow(2px 0 0 var(--red))
		drop-shadow(-2px 0 0 var(--red))
		drop-shadow(0 2px 0 var(--red))
		drop-shadow(0 -2px 0 var(--red));
}
#animate_blue {
	filter:
		drop-shadow(2px 0 0 var(--blue))
		drop-shadow(-2px 0 0 var(--blue))
		drop-shadow(0 2px 0 var(--blue))
		drop-shadow(0 -2px 0 var(--blue));
}
#animate_green {
	filter:
		drop-shadow(2px 0 0 var(--forest-green))
		drop-shadow(-2px 0 0 var(--forest-green))
		drop-shadow(0 2px 0 var(--forest-green))
		drop-shadow(0 -2px 0 var(--forest-green));
}
#animate_yellow {
	filter:
		drop-shadow(2px 0 0 var(--yellow))
		drop-shadow(-2px 0 0 var(--yellow))
		drop-shadow(0 2px 0 var(--yellow))
		drop-shadow(0 -2px 0 var(--yellow));
}
#animate_white {
	filter:
		drop-shadow(2px 0 0 var(--white))
		drop-shadow(-2px 0 0 var(--white))
		drop-shadow(0 2px 0 var(--white))
		drop-shadow(0 -2px 0 var(--white));
}

/* CLASSIFICA */
div[id=infoCavallo] {
	width: 500px;
}
div[id=classifica] {
	width: 500px;
}
div[id=timerEndGame] {
	width: 500px;
}

p {
	font-family: arial;
	font-size:25px;
	font-style:bold;
	text-decoration:italic;
	color: var(--black);
	display: inline
}

p.startTimer {
	font-size:250px;
}

p.title {
	font-size:40px;
	font-style:extra-bold;
	font-variant:small-caps;
	font-weight:bolder;
	color: var(--dark-green);
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}

p.horse {
	font-style:extra-bold;
	text-shadow: 
   1px   0  0   var(--black), 
  -1px   0  0   var(--black), 
   0    1px 0   var(--black), 
   0   -1px 0   var(--black);
}

p.horse[id=red] {
	color: var(--red);
}
p.horse[id=blue] {
	color: var(--blue);
}
p.horse[id=green] {
	color: var(--forest-green);
}
p.horse[id=yellow] {
	color: var(--yellow);
}
p.horse[id=white] {
	color: var(--white);

}
